[flake8]
max-line-length = 110
extend-ignore = W293,E203,E221
exclude =
    .git,
    __pycache__,
    docs,
    build,
    dist,
    .eggs
per-file-ignores =
    __init__.py:F401
    Main.py:E402
    test/*:F401,F841
