PyYAML
SQLAlchemy
fastapi
uvicorn[standard]
pydantic
pandas
numpy
scipy
scikit-learn
psycopg2-binary
requests
matplotlib
python-docx
reportlab
Pillow
kafka-python
pymongo
minio
yfinance
pysentiment2
langid
finnhub-python
