POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST_DEV=localhost
POSTGRES_PORT_DEV=5439
POSTGRES_DATABASE=fift
MINIO_USER=ift_bigdata
MINIO_PASSWORD=minio_password
MINIO_URL=http://localhost:9000
MONGO_HOST=localhost
MONGO_PORT=27019
MONGO_USERNAME=ift_bigdata
MONGO_PASSWORD=mongo_password
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
